*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
 }
 
/* NAV */
body{
    background-image: url(/img/groupe.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
j
nav{
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0);
    padding: 10px 0;
    box-shadow: 0px 5px 0px #1b141400;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Noto Serif', serif;
      
}


nav ul li {
    display: inline-block;
    
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #f8f8f8;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
    
}
  
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
  
nav ul li a:hover {
    color: #555;
}
  
 
  /* fill */
  
nav.fill ul li a {
    position: relative;
}
  
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(0, 0, 0);
    height: 1px;
}
 
nav.fill ul li a {
    transition: all 2s;
}
  
  
nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
  
nav.fill ul li a:hover {
    color: #410b0b;
    z-index: 1;
}
  
nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
    border-radius: 15px;
}
  


  /* Keyframes */

@keyframes fill {
  
  0% {
  width: 0%;
  height: 1px;
  }

  50% {
  width: 100%;
  height: 1px;
  }

  100%{
  width: 100%;
  height: 100%;
  background: #ec4c53;
 }
}
/* FIN NAV */



/* MAIN */
main{
    height: 800px;
    margin: 50px;
    display: flex;
}


.card{
    width: 400px;
    margin: 50px;
    text-align: center; 
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.269); 
     
}

.card-body{
    text-decoration: none;
    background-color: #c91d26c4;
    color: white;
    
}

.zoom {
   
    transition: transform .2s; /* Animation */
    display:inline-flex;
    justify-content: center;
    align-items: center;
     width: 400px;
    height: 340px; 
   
    margin: 50px;
}
  
.zoom:hover {
    transform: scale(1.1); 
}

.page{
    height: auto;
    width: auto;
    display: flex;
    flex-direction : row;
    justify-content : space-around ;
    align-items : center; 
    padding: 20px;
}
   
#loisir{
    height: 350px;
    width: 400px;
    display: flex;
}

#voyage{
    height: 350px;
    width: 400px;
    display: flex;

}

#bonneAff{
    height: 350px;
    width: 400px;
    display: flex;
    
}

/* media */
@media only screen and (max-width: 575px) 
{
    main{
        height: auto; 
        width: auto;
        margin-bottom: 150px;
    }
  
    .fill{
        text-align: center;     
    }



    .card{
        margin: 55px; 
            
    }  

    .zoom{
        margin-top: 55px; 
            
    }
    
    .page{
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        flex-direction : column;
        margin: 40px;
        align-items : center;
        
    }
     
    #loisir{
        height: 280px;
        width: 300px;
    }
        
    #voyage{  
        height: 280px;
        width: 300px;
    }
        
    #bonneAff{
        height: 280px;
        width: 300px;
    }
    
}
    


@media only screen and (min-width: 575px) and (max-width: 1100px)
{
    
    main{
        height: auto;
        width: auto;
        
    }
    .fill{
        text-align: center;     
    }
  
    #logo{
        width: 100%;
        height: auto;
        margin-top: 100px;
        align-items: center;
    } 
     
    .page{
        height: auto;
        width: auto;
        display: flex;
        justify-content : space-everly ;
        flex-direction : column;
        align-items : center;
        
    }

    .zoom{
            width: auto;
            height: auto;

    }


    #loisir{
        height: 300px;
        width: 350px;
    }

    #voyage{    
        height: 300px;
        width: 350px;
    }
    
    #bonneAff{
        height: 300px;
        width: 350px;
    }   

}


@media only screen and (min-width: 1100px) and (max-width: 1400px){

    main{
        height: 100%;
        width: 100%;
        
    }

    #loisir{
        height: 200px;
        width: 300px;
     }   
     
    #voyage{
     
        height: 200px;
        width: 300px;
     }   

    #bonneAff{
       
        height: 200px;
        width: 300px;
     }  
     
}

/* media */


/* FIN MAIN */


/* footer */
footer{
    /* background-color: #001a2ee7; */
    background: linear-gradient(#01528cd2,#ec4c53);
    color: white;
    font-family: 'Raleway', sans-serif;
    width: auto;
}

p:hover{
    color: #001a2e;
}
  
i:hover{
    color: #ec4c53;
}
  
  /* footer */